.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form, .signup-form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  margin-bottom: 10px;
  padding: 10px;
}

button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-footer {
  margin-top: 10px;
}

.form-footer a {
  color: black;
}
h6 span a{
  text-decoration: none;
  color: black;

}
h6 span a:hover{
  text-decoration: underline;
  color: blue;

}